@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Droid+Sans:wght@400;700&display=swap');
.profile-container {
    font-family: "Ubuntu";
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url(../../assets/imgs/fundo2.svg);
    background-color: #e8e4f4;
}

.navigation-footer {
    width: 100%; /* Faz a navegação ocupar toda a largura */
    left: 0;
    position: absolute; /* Permite que o footer se posicione corretamente */
    bottom: 0; /* Fixa o footer na parte inferior */
  }
  
.profile-header {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.profile-info {
    padding: 60px;
    display: block;
    align-items: center;
}

.profile-avatar {
    display: block; 
    margin: 0 auto;
    width: 150px;
    height: 150px;
}

.profile-name {
    display: block; 
    text-align: center;
    font-family: "Ubuntu";
    font-size: 25px;
    font-weight: bold;
    color: #4D4360;
}

.edit-button {
    position: absolute;
    top: 105px;
    right: 69px; 
    justify-content: center;
    align-items: center; 
    background: #736490;
    border: 1px solid transparent; 
    border-radius: 50%;
    padding: 0; 
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.edit-icon {
    width: 40px; 
    height: 40px; 
}

.profile-content {
    flex: 1;
    padding: 15px;
}

.profile-card {
    display: block; 
    text-align: center;
    background-color: #E6E9ED;
    border-radius: 15px;
    padding: 20px;
    width: auto;
    height: 240px;
}

.profile-card-text {
    color: #7d7d7d;
}

