body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navigation-footer {
  width: 100%; /* Faz a navegação ocupar toda a largura */
  left: 0;
  position: absolute; /* Permite que o footer se posicione corretamente */
  bottom: 0; /* Fixa o footer na parte inferior */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* animations.css */

.page-enter {
  opacity: 0;
  transform: translateY(20px); /* Inicia um pouco abaixo */
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms; /* Tempo da transição */
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 300ms; /* Tempo da transição */
}